<?xml version="1.0"?>
<config>
  <modules>
    <Mediasoftbd_Sslcommerz>
      <version>1.0.0</version>
    </Mediasoftbd_Sslcommerz>
  </modules>
  <global>
    <models>
      <Sslcommerz>
        <class>Mediasoftbd_Sslcommerz_Model</class>
      </Sslcommerz>
    </models>
    <helpers>
      <Sslcommerz>
        <class>Mediasoftbd_Sslcommerz_Helper</class>
      </Sslcommerz>
    </helpers>
    <blocks>
      <Sslcommerz>
        <class>Mediasoftbd_Sslcommerz_Block</class>
      </Sslcommerz>
    </blocks>
  </global>
  <default>
    <payment>
      <Sslcommerz>
        <model>Sslcommerz/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>SSLCOMMERZ(Visa, MasterCard and Nexus debit card)</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </Sslcommerz>
    </payment>
  </default>
  <frontend>
    <routers>
      <Sslcommerz>
        <use>standard</use>
        <args>
          <module>Mediasoftbd_Sslcommerz</module>
          <frontName>Sslcommerz</frontName>
        </args>
      </Sslcommerz>
    </routers>
  </frontend>
</config>
